In [1]:
import pandas as pd
import numpy as np

In [2]:
rum_ci_summary = pd.read_csv('prediction/rum/jd_rum_summary.csv')
rum_ci_summary = rum_ci_summary.drop(rum_ci_summary.columns[0],axis=1)
rum_ci_summary = rum_ci_summary.rename(columns={'avg_lb_dist': 'rum_ci_dist'})
rum_ci_summary = rum_ci_summary.rename(columns={'avg_lb_best_rev_diff': 'rum_ci_rev_reg'})
rum_ci_summary = rum_ci_summary.rename(columns={'infeas_prop': 'rum_infeas_prop'})
rum_ci_summary

,offertimes,train_size,test_size,rum_infeas_prop,rum_ci_dist,rum_ci_rev_reg,avg_lb_runtime,rum_actual_runtime
0,20,24,5,0.06,3.06383,0.099892,2.030445,89.889210
1,30,20,4,0.00,1.52000,0.105559,1.684892,76.252391
2,40,16,3,0.00,0.80000,0.096695,1.429148,66.123443
3,50,12,3,0.00,0.86000,0.098517,1.212501,55.720892
4,60,11,2,0.00,0.18000,0.070209,1.179737,53.569260

In [3]:
mdm_ci_summary = pd.read_csv('prediction/mdm/jd_mdm_summary.csv')
mdm_ci_summary = mdm_ci_summary.drop(mdm_ci_summary.columns[0],axis=1)
mdm_ci_summary = mdm_ci_summary.rename(columns={'avg_lb_dist': 'mdm_ci_lb_dist'})
mdm_ci_summary = mdm_ci_summary.rename(columns={'avg_lb_best_rev_diff': 'mdm_ci_lb_rev_reg'})
mdm_ci_summary = mdm_ci_summary.rename(columns={'avg_ub_dist': 'mdm_ci_ub_dist'})
mdm_ci_summary = mdm_ci_summary.rename(columns={'avg_ub_best_rev_diff': 'mdm_ci_ub_rev_reg'})
mdm_ci_summary = mdm_ci_summary.rename(columns={'infeas_prop': 'mdm_infeas_prop'})
mdm_ci_summary

,offertimes,train_size,test_size,mdm_infeas_prop,mdm_ci_lb_dist,mdm_ci_ub_dist,mdm_ci_lb_rev_reg,mdm_ci_ub_rev_reg,avg_lb_runtime,avg_ub_runtime
0,20,24,5,0.06,2.93617,1.914894,0.093054,0.070904,0.259867,0.311523
1,30,20,4,0.00,1.42000,0.920000,0.105559,0.058304,0.140805,0.161980
2,40,16,3,0.00,0.78000,0.460000,0.095387,0.070954,0.066352,0.069073
3,50,12,3,0.00,0.84000,0.220000,0.089414,0.023435,0.030245,0.029565
4,60,11,2,0.00,0.18000,0.060000,0.070209,0.011262,0.020935,0.022002

In [4]:
mdm_etp_summary = pd.read_csv('prediction/etp_mdm/jd_etp_mdm_summary.csv')
mdm_etp_summary = mdm_etp_summary.drop(mdm_etp_summary.columns[0],axis=1)
mdm_etp_summary = mdm_etp_summary.rename(columns={'avg_lb_dist': 'mdm_etp_dist'})
mdm_etp_summary = mdm_etp_summary.rename(columns={'avg_lb_best_rev_diff': 'mdm_etp_rev_reg'})
mdm_etp_summary

,offertimes,train_size,test_size,mdm_etp_dist,avg_ub_dist,mdm_etp_rev_reg,avg_ub_best_rev_diff,avg_lb_runtime,avg_ub_runtime
0,20,24,5,1.96,1.78,0.092116,0.073268,0.001481,0.001419
1,30,20,4,1.00,0.90,0.040104,0.036925,0.001108,0.001031
2,40,16,3,0.60,0.38,0.079464,0.050297,0.001005,0.000921
3,50,12,3,0.62,0.30,0.079724,0.015214,0.000775,0.000717
4,60,11,2,0.16,0.08,0.050682,0.015762,0.000758,0.000694

In [5]:
df_mem = pd.read_csv('prediction/mem/jd_mem_summary.csv')
df_mem = df_mem.drop(df_mem.columns[0],axis=1)
df_mem = df_mem.rename(columns={'avg_mem_dist': 'mem_dist'})
df_mem = df_mem.rename(columns={'avg_mem_best_rev_diff': 'mem_rev_reg'})
df_mem

   offertimes  mem_dist  mem_rev_reg  avg_mem_pred_runtime
0          20      1.72     0.073306              0.448551
1          30      0.88     0.047178              0.460338
2          40      0.34     0.037203              0.434622
3          50      0.26     0.008152              0.445485
4          60      0.06     0.024551              0.431409

In [6]:
df_mnl = pd.read_csv('prediction/mnl/jd_mnl_summary.csv')
df_mnl = df_mnl.drop(df_mnl.columns[0],axis=1)
df_mnl = df_mnl.rename(columns={'avg_mnl_dist': 'mnl_dist'})
df_mnl = df_mnl.rename(columns={'avg_mnl_best_rev_diff': 'mnl_rev_reg'})
df_mnl

   offertimes  mnl_dist  mnl_rev_reg  avg_mnl_pred_runtime
0          20      2.56     0.079700              0.252538
1          30      1.22     0.081838              0.248655
2          40      0.64     0.094136              0.251810
3          50      0.68     0.094529              0.244268
4          60      0.20     0.071108              0.233608

In [7]:
df_mccm = pd.read_csv('prediction/mccm/jd_mccm_summary.csv')
df_mccm = df_mccm.drop(df_mccm.columns[0],axis=1)
df_mccm = df_mccm.rename(columns={'avg_mccm_dist': 'mccm_dist'})
df_mccm = df_mccm.rename(columns={'avg_mccm_best_rev_diff': 'mccm_rev_reg'})
df_mccm

   offertimes  mccm_dist  mccm_rev_reg  avg_mccm_pred_runtime
0          20       1.90      0.073108              10.352619
1          30       0.84      0.046535              10.605934
2          40       0.46      0.061864               8.496874
3          50       0.32      0.035253               6.834068
4          60       0.12      0.039283               7.451829

In [8]:
df_lcmnl = pd.read_csv('prediction/lcmnl/jd_lcmnl_summary.csv')
df_lcmnl = df_lcmnl.drop(df_lcmnl.columns[0],axis=1)
df_lcmnl = df_lcmnl.rename(columns={'avg_lcmnl_dist': 'lcmnl_dist'})
df_lcmnl = df_lcmnl.rename(columns={'avg_lcmnl_best_rev_diff': 'lcmnl_rev_reg'})
df_lcmnl

   offertimes  lcmnl_dist  lcmnl_rev_reg  avg_lcmnl_pred_runtime
0          20        1.72       0.054730               36.717284
1          30        1.02       0.054697               37.674805
2          40        0.48       0.061706               40.190941
3          50        0.60       0.073121               34.937027
4          60        0.14       0.048631               36.208400

In [9]:
rev_reg_summary = pd.concat([ mdm_ci_summary['offertimes'],mdm_ci_summary['train_size'],mdm_ci_summary['test_size'],
                             mdm_ci_summary['mdm_ci_lb_rev_reg'],
                             mdm_ci_summary['mdm_ci_ub_rev_reg'],
                             mdm_etp_summary['mdm_etp_rev_reg'],
                                rum_ci_summary['rum_ci_rev_reg'],
                                df_mem['mem_rev_reg'],
                                df_mnl['mnl_rev_reg'],
                                df_mccm['mccm_rev_reg'],
                                df_lcmnl['lcmnl_rev_reg']],axis=1)
#rev_reg_summary.to_csv('summary/avg_rev_reg_summary.csv')
rev_reg_summary

,offertimes,train_size,test_size,mdm_ci_lb_rev_reg,mdm_ci_ub_rev_reg,mdm_etp_rev_reg,rum_ci_rev_reg,mem_rev_reg,mnl_rev_reg,mccm_rev_reg,lcmnl_rev_reg
0,20,24,5,0.093054,0.070904,0.092116,0.099892,0.073306,0.079700,0.073108,0.054730
1,30,20,4,0.105559,0.058304,0.040104,0.105559,0.047178,0.081838,0.046535,0.054697
2,40,16,3,0.095387,0.070954,0.079464,0.096695,0.037203,0.094136,0.061864,0.061706
3,50,12,3,0.089414,0.023435,0.079724,0.098517,0.008152,0.094529,0.035253,0.073121
4,60,11,2,0.070209,0.011262,0.050682,0.070209,0.024551,0.071108,0.039283,0.048631

In [10]:
rev_reg_summary = pd.concat([ mdm_ci_summary['offertimes'],mdm_ci_summary['train_size'],mdm_ci_summary['test_size'],
                             mdm_ci_summary['mdm_infeas_prop']*100,
                             mdm_ci_summary['mdm_ci_lb_rev_reg']*100,
                             mdm_etp_summary['mdm_etp_rev_reg']*100,
                             rum_ci_summary['rum_infeas_prop']*100,
                                rum_ci_summary['rum_ci_rev_reg']*100,
                                df_mem['mem_rev_reg']*100,
                                df_mnl['mnl_rev_reg']*100,
                                df_mccm['mccm_rev_reg']*100,
                                df_lcmnl['lcmnl_rev_reg']*100],axis=1)
rev_reg_summary['mdm_ci_lb_rev_reg'] = rev_reg_summary['mdm_ci_lb_rev_reg'].round(3)

rev_reg_summary['mdm_etp_rev_reg'] = rev_reg_summary['mdm_etp_rev_reg'].round(3)
rev_reg_summary['rum_ci_rev_reg'] = rev_reg_summary['rum_ci_rev_reg'].round(3)

rev_reg_summary['mem_rev_reg'] = rev_reg_summary['mem_rev_reg'].round(3)
rev_reg_summary['mnl_rev_reg'] = rev_reg_summary['mnl_rev_reg'].round(3)
rev_reg_summary['mccm_rev_reg'] = rev_reg_summary['mccm_rev_reg'].round(3)
rev_reg_summary['lcmnl_rev_reg'] = rev_reg_summary['lcmnl_rev_reg'].round(3)

rev_reg_summary = rev_reg_summary.rename(columns={'mdm_infeas_prop': 'mdm_feas_prop'})
rev_reg_summary = rev_reg_summary.rename(columns={'rum_infeas_prop': 'rum_feas_prop'})

rev_reg_summary.to_csv('summary/rev_reg_summary_percent.csv')
rev_reg_summary

,offertimes,train_size,test_size,mdm_feas_prop,mdm_ci_lb_rev_reg,mdm_etp_rev_reg,rum_feas_prop,rum_ci_rev_reg,mem_rev_reg,mnl_rev_reg,mccm_rev_reg,lcmnl_rev_reg
0,20,24,5,6.0,9.305,9.212,6.0,9.989,7.331,7.970,7.311,5.473
1,30,20,4,0.0,10.556,4.010,0.0,10.556,4.718,8.184,4.653,5.470
2,40,16,3,0.0,9.539,7.946,0.0,9.669,3.720,9.414,6.186,6.171
3,50,12,3,0.0,8.941,7.972,0.0,9.852,0.815,9.453,3.525,7.312
4,60,11,2,0.0,7.021,5.068,0.0,7.021,2.455,7.111,3.928,4.863

In [11]:
''' rev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_lb_rev_reg': 'mdm_ci_lb_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_ub_rev_reg': 'mdm_ci_ub_rev_reg'})

rev_reg_summary = rev_reg_summary.rename(columns={'mdm_etp_rev_reg': 'mdm_etp_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_l1_rev_reg': 'mdm_ci_l1_rev_reg'})

rev_reg_summary = rev_reg_summary.rename(columns={'rum_ci_rev_reg': 'rum_ci_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'rum_etp_rev_reg': 'rum_etp_rev_reg'})


rev_reg_summary = rev_reg_summary.rename(columns={'mnl_rev_reg': 'mnl_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'mccm_rev_reg': 'mccm_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'lcmnl_rev_reg': 'lcmnl_rev_reg'})

rev_reg_summary '''

" rev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_lb_rev_reg': 'mdm_ci_lb_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_ub_rev_reg': 'mdm_ci_ub_rev_reg'})\n\nrev_reg_summary = rev_reg_summary.rename(columns={'mdm_etp_rev_reg': 'mdm_etp_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_l1_rev_reg': 'mdm_ci_l1_rev_reg'})\n\nrev_reg_summary = rev_reg_summary.rename(columns={'rum_ci_rev_reg': 'rum_ci_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'rum_etp_rev_reg': 'rum_etp_rev_reg'})\n\n\nrev_reg_summary = rev_reg_summary.rename(columns={'mnl_rev_reg': 'mnl_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'mccm_rev_reg': 'mccm_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'lcmnl_rev_reg': 'lcmnl_rev_reg'})\n\nrev_reg_summary "

In [12]:
kendall_dist_summary = pd.concat([ mdm_ci_summary['offertimes'],mdm_ci_summary['train_size'],mdm_ci_summary['test_size'],
                                  mdm_ci_summary['mdm_infeas_prop'],
                                  mdm_ci_summary['mdm_ci_lb_dist'],
                                  mdm_ci_summary['mdm_ci_ub_dist'],
                                  mdm_etp_summary['mdm_etp_dist'],
                                  rum_ci_summary['rum_infeas_prop'],
                                rum_ci_summary['rum_ci_dist'],
                                df_mem['mem_dist'],
                                df_mnl['mnl_dist'],
                                df_mccm['mccm_dist'],
                                df_lcmnl['lcmnl_dist']],axis=1)
#kendall_dist_summary.to_csv('summary/avg_kendall_dist_summary.csv')
kendall_dist_summary

,offertimes,train_size,test_size,mdm_infeas_prop,mdm_ci_lb_dist,mdm_ci_ub_dist,mdm_etp_dist,rum_infeas_prop,rum_ci_dist,mem_dist,mnl_dist,mccm_dist,lcmnl_dist
0,20,24,5,0.06,2.93617,1.914894,1.96,0.06,3.06383,1.72,2.56,1.90,1.72
1,30,20,4,0.00,1.42000,0.920000,1.00,0.00,1.52000,0.88,1.22,0.84,1.02
2,40,16,3,0.00,0.78000,0.460000,0.60,0.00,0.80000,0.34,0.64,0.46,0.48
3,50,12,3,0.00,0.84000,0.220000,0.62,0.00,0.86000,0.26,0.68,0.32,0.60
4,60,11,2,0.00,0.18000,0.060000,0.16,0.00,0.18000,0.06,0.20,0.12,0.14

In [13]:
kendall_dist_summary2 = pd.concat([ mdm_ci_summary['offertimes'],mdm_ci_summary['train_size'],mdm_ci_summary['test_size'],
                                  mdm_ci_summary['mdm_infeas_prop'],
                                  mdm_ci_summary['mdm_ci_lb_dist'],
                                  mdm_etp_summary['mdm_etp_dist'],
                                  rum_ci_summary['rum_infeas_prop'],
                                rum_ci_summary['rum_ci_dist'],
                                df_mem['mem_dist'],
                                df_mnl['mnl_dist'],
                                df_mccm['mccm_dist'],
                                df_lcmnl['lcmnl_dist']],axis=1)

kendall_dist_summary2 = kendall_dist_summary2.rename(columns={'mdm_infeas_prop': 'mdm_feas_prop'})
kendall_dist_summary2 = kendall_dist_summary2.rename(columns={'rum_infeas_prop': 'rum_feas_prop'})

kendall_dist_summary2.to_csv('summary/kendall_dist_summary.csv')
kendall_dist_summary2

,offertimes,train_size,test_size,mdm_feas_prop,mdm_ci_lb_dist,mdm_etp_dist,rum_feas_prop,rum_ci_dist,mem_dist,mnl_dist,mccm_dist,lcmnl_dist
0,20,24,5,0.06,2.93617,1.96,0.06,3.06383,1.72,2.56,1.90,1.72
1,30,20,4,0.00,1.42000,1.00,0.00,1.52000,0.88,1.22,0.84,1.02
2,40,16,3,0.00,0.78000,0.60,0.00,0.80000,0.34,0.64,0.46,0.48
3,50,12,3,0.00,0.84000,0.62,0.00,0.86000,0.26,0.68,0.32,0.60
4,60,11,2,0.00,0.18000,0.16,0.00,0.18000,0.06,0.20,0.12,0.14

In [14]:
## compute standard error
offertimes = [20,30,40,50,60]
mdm_ci_lb_reg_se_lst = []
mdm_ci_ub_reg_se_lst = []
mdm_etp_lb_reg_se_lst = []
mdm_etp_ub_reg_se_lst = []

mdm_l1ci_reg_se_lst = []

rum_ci_reg_se_lst = []
rum_etp_reg_se_lst = []

mccm_reg_se_lst = []
lcmnl_reg_se_lst = []
mnl_reg_se_lst = []
mem_reg_se_lst = []


for times in offertimes:
    df_mdm_ci = pd.read_csv('prediction/mdm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mdm_ci_lb_reg = df_mdm_ci['mdm_lb_best_rev_diff']
    df_mdm_ci_ub_reg = df_mdm_ci['mdm_ub_best_rev_diff']
    mdm_ci_lb_reg = np.array(df_mdm_ci_lb_reg)
    mdm_ci_lb_reg_se = np.std(mdm_ci_lb_reg)/np.sqrt(len(mdm_ci_lb_reg))
   
    mdm_ci_ub_reg = np.array(df_mdm_ci_ub_reg)
    mdm_ci_ub_reg_se = np.std(mdm_ci_ub_reg)/np.sqrt(len(mdm_ci_ub_reg))
   
    mdm_ci_lb_reg_se_lst.append(mdm_ci_lb_reg_se)
    mdm_ci_ub_reg_se_lst.append(mdm_ci_ub_reg_se)
    
    
    df_mdm_etp = pd.read_csv('prediction/etp_mdm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mdm_etp_lb_reg = df_mdm_etp['mdm_lb_best_rev_diff']
    df_mdm_etp_ub_reg = df_mdm_etp['mdm_ub_best_rev_diff']
    mdm_etp_lb_reg = np.array(df_mdm_etp_lb_reg)
    mdm_etp_lb_reg_se = np.std(mdm_etp_lb_reg)/np.sqrt(len(mdm_etp_lb_reg))
    
    mdm_etp_ub_reg = np.array(df_mdm_etp_ub_reg)
    mdm_etp_ub_reg_se = np.std(mdm_etp_ub_reg)/np.sqrt(len(mdm_etp_ub_reg))
    
    mdm_etp_lb_reg_se_lst.append(mdm_etp_lb_reg_se)
    mdm_etp_ub_reg_se_lst.append(mdm_etp_ub_reg_se)
    
    df_rum_ci = pd.read_csv('prediction/rum/revenue_prediction/details1/'+str(times)+'.csv')
    df_rum_ci_reg = df_rum_ci['rum_lb_best_rev_diff']
    rum_ci_reg = np.array(df_rum_ci_reg)
    rum_ci_reg_se = np.std(rum_ci_reg)/np.sqrt(len(rum_ci_reg))
    rum_ci_reg_se_lst.append(rum_ci_reg_se)

    
    df_mem = pd.read_csv('prediction/mem/revenue_prediction/details1/'+str(times)+'.csv')
    df_mem_reg = df_mem['mem_best_rev_diff']
    mem_reg = np.array(df_mem_reg)
    mem_reg_se = np.std(mem_reg)/np.sqrt(len(mem_reg)) ### standard deviation/\sqrt(number of samples)
    mem_reg_se_lst.append(mem_reg_se)

    df_mnl = pd.read_csv('prediction/mnl/revenue_prediction/details1/'+str(times)+'.csv')
    df_mnl_reg = df_mnl['mnl_best_rev_diff']
    mnl_reg = np.array(df_mnl_reg)
    mnl_reg_se = np.std(mnl_reg)/np.sqrt(len(mnl_reg))
    mnl_reg_se_lst.append(mnl_reg_se)
        
    df_mccm = pd.read_csv('prediction/mccm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mccm_reg = df_mccm['mccm_best_rev_diff']
    mccm_reg = np.array(df_mccm_reg)
    mccm_reg_se = np.std(mccm_reg)/np.sqrt(len(mccm_reg))
    mccm_reg_se_lst.append(mccm_reg_se)
    
     
    df_lcmnl = pd.read_csv('prediction/lcmnl/revenue_prediction/details1/'+str(times)+'.csv')
    df_lcmnl_reg = df_lcmnl['lcmnl_best_rev_diff']
    lcmnl_reg = np.array(df_lcmnl_reg)
    lcmnl_reg_se = np.std(lcmnl_reg)/np.sqrt(len(lcmnl_reg))
    lcmnl_reg_se_lst.append(lcmnl_reg_se)

In [15]:
''' rev_reg_se_summary = pd.DataFrame({'offertimes':offertimes,'mdm_ci_lb':mdm_ci_lb_reg_se_lst,'mdm_ci_ub':mdm_ci_ub_reg_se_lst,
                                        'mdm_etp_lb':mdm_etp_lb_reg_se_lst,'mdm_etp_ub':mdm_etp_ub_reg_se_lst,
                                        'rum_ci':rum_ci_reg_se_lst,
                                        'mem':mem_reg_se_lst,
                                        'mnl':mnl_reg_se_lst,
                                        'mccm':mccm_reg_se_lst,
                                        'lcmnl':lcmnl_reg_se_lst})
rev_reg_se_summary['mdm_ci_lb'] = rev_reg_se_summary['mdm_ci_lb']*100
rev_reg_se_summary['mdm_ci_ub'] = rev_reg_se_summary['mdm_ci_ub']*100
rev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb']*100
rev_reg_se_summary['mdm_etp_ub'] = rev_reg_se_summary['mdm_etp_ub']*100

rev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci']*100

rev_reg_se_summary['mem'] = rev_reg_se_summary['mem']*100
rev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl']*100
rev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm']*100
rev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl']*100

rev_reg_se_summary['mdm_ci_lb'] = rev_reg_se_summary['mdm_ci_lb'].round(3)
rev_reg_se_summary['mdm_ci_ub'] = rev_reg_se_summary['mdm_ci_ub'].round(3)
rev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb'].round(3)
rev_reg_se_summary['mdm_etp_ub'] = rev_reg_se_summary['mdm_etp_ub'].round(3)

rev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci'].round(3)

rev_reg_se_summary['mem'] = rev_reg_se_summary['mem'].round(3)
rev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl'].round(3)
rev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm'].round(3)
rev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl'].round(3)
rev_reg_se_summary.to_csv('summary/rev_reg_se_summary.csv')
rev_reg_se_summary
 '''

" rev_reg_se_summary = pd.DataFrame({'offertimes':offertimes,'mdm_ci_lb':mdm_ci_lb_reg_se_lst,'mdm_ci_ub':mdm_ci_ub_reg_se_lst,\n                                        'mdm_etp_lb':mdm_etp_lb_reg_se_lst,'mdm_etp_ub':mdm_etp_ub_reg_se_lst,\n                                        'rum_ci':rum_ci_reg_se_lst,\n                                        'mem':mem_reg_se_lst,\n                                        'mnl':mnl_reg_se_lst,\n                                        'mccm':mccm_reg_se_lst,\n                                        'lcmnl':lcmnl_reg_se_lst})\nrev_reg_se_summary['mdm_ci_lb'] = rev_reg_se_summary['mdm_ci_lb']*100\nrev_reg_se_summary['mdm_ci_ub'] = rev_reg_se_summary['mdm_ci_ub']*100\nrev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb']*100\nrev_reg_se_summary['mdm_etp_ub'] = rev_reg_se_summary['mdm_etp_ub']*100\n\nrev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci']*100\n\nrev_reg_se_summary['mem'] = rev_reg_se_summary['mem']*100\nrev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl']*100\nrev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm']*100\nrev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl']*100\n\nrev_reg_se_summary['mdm_ci_lb'] = rev_reg_se_summary['mdm_ci_lb'].round(3)\nrev_reg_se_summary['mdm_ci_ub'] = rev_reg_se_summary['mdm_ci_ub'].round(3)\nrev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb'].round(3)\nrev_reg_se_summary['mdm_etp_ub'] = rev_reg_se_summary['mdm_etp_ub'].round(3)\n\nrev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci'].round(3)\n\nrev_reg_se_summary['mem'] = rev_reg_se_summary['mem'].round(3)\nrev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl'].round(3)\nrev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm'].round(3)\nrev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl'].round(3)\nrev_reg_se_summary.to_csv('summary/rev_reg_se_summary.csv')\nrev_reg_se_summary\n "

In [16]:
rev_reg_se_summary = pd.DataFrame({'offertimes':offertimes,'mdm_ci_lb':mdm_ci_lb_reg_se_lst,
                                        'mdm_etp_lb':mdm_etp_lb_reg_se_lst,
                                        'rum_ci':rum_ci_reg_se_lst,
                                        'mem':mem_reg_se_lst,
                                        'mnl':mnl_reg_se_lst,
                                        'mccm':mccm_reg_se_lst,
                                        'lcmnl':lcmnl_reg_se_lst})
rev_reg_se_summary['mdm_ci_lb'] = rev_reg_se_summary['mdm_ci_lb']*100
rev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb']*100
rev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci']*100
rev_reg_se_summary['mem'] = rev_reg_se_summary['mem']*100
rev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl']*100
rev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm']*100
rev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl']*100

rev_reg_se_summary['mdm_ci_lb'] = rev_reg_se_summary['mdm_ci_lb'].round(3)
rev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb'].round(3)
rev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci'].round(3)
rev_reg_se_summary['mem'] = rev_reg_se_summary['mem'].round(3)
rev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl'].round(3)
rev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm'].round(3)
rev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl'].round(3)
rev_reg_se_summary.to_csv('summary/rev_reg_se_summary_percent.csv')
rev_reg_se_summary

   offertimes  mdm_ci_lb  mdm_etp_lb  rum_ci    mem    mnl   mccm  lcmnl
0          20      2.000       2.064   2.013  1.711  1.710  1.646  1.456
1          30      2.582       1.438   2.582  1.554  2.057  1.407  1.630
2          40      2.419       2.194   2.416  1.306  2.329  1.882  1.789
3          50      2.392       2.290   2.528  0.523  2.478  1.759  2.261
4          60      2.250       1.855   2.250  1.380  2.246  1.815  1.869

In [17]:
mdm_ci_lb_dist_se_lst = []
mdm_ci_ub_dist_se_lst = []
mdm_etp_lb_dist_se_lst = []
mdm_etp_ub_dist_se_lst = []

mdm_l1ci_dist_se_lst = []

rum_ci_dist_se_lst = []
rum_etp_dist_se_lst = []

mccm_dist_se_lst = []
lcmnl_dist_se_lst = []
mnl_dist_se_lst = []
mem_dist_se_lst = []

for times in offertimes:
    df_mdm_ci = pd.read_csv('prediction/mdm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mdm_ci_lb_dist = df_mdm_ci['mdm_lb_dist']
    df_mdm_ci_ub_dist = df_mdm_ci['mdm_ub_dist']
    mdm_ci_lb_dist = np.array(df_mdm_ci_lb_dist)
    mdm_ci_lb_dist_se = np.std(mdm_ci_lb_dist)/np.sqrt(len(mdm_ci_lb_dist))
   
    mdm_ci_ub_dist = np.array(df_mdm_ci_ub_dist)
    mdm_ci_ub_dist_se = np.std(mdm_ci_ub_dist)/np.sqrt(len(mdm_ci_ub_dist))
   
    mdm_ci_lb_dist_se_lst.append(mdm_ci_lb_dist_se)
    mdm_ci_ub_dist_se_lst.append(mdm_ci_ub_dist_se)
    
    
    df_mdm_etp = pd.read_csv('prediction/etp_mdm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mdm_etp_lb_dist = df_mdm_etp['mdm_lb_dist']
    df_mdm_etp_ub_dist = df_mdm_etp['mdm_ub_dist']
    mdm_etp_lb_dist = np.array(df_mdm_etp_lb_dist)
    mdm_etp_lb_dist_se = np.std(mdm_etp_lb_dist)/np.sqrt(len(mdm_etp_lb_dist))
    
    mdm_etp_ub_dist = np.array(df_mdm_etp_ub_dist)
    mdm_etp_ub_dist_se = np.std(mdm_etp_ub_dist)/np.sqrt(len(mdm_etp_ub_dist))
    
    mdm_etp_lb_dist_se_lst.append(mdm_etp_lb_dist_se)
    mdm_etp_ub_dist_se_lst.append(mdm_etp_ub_dist_se)
    
    
    df_rum_ci = pd.read_csv('prediction/rum/revenue_prediction/details1/'+str(times)+'.csv')
    df_rum_ci_dist = df_rum_ci['rum_lb_dist']
    rum_ci_dist = np.array(df_rum_ci_dist)
    rum_ci_dist_se = np.std(rum_ci_dist)/np.sqrt(len(rum_ci_dist))
    rum_ci_dist_se_lst.append(rum_ci_dist_se)
    

    
    df_mem = pd.read_csv('prediction/mem/revenue_prediction/details1/'+str(times)+'.csv')
    df_mem_dist = df_mem['mem_dist']
    mem_dist = np.array(df_mem_dist)
    mem_dist_se = np.std(mem_dist)/np.sqrt(len(mem_dist))
    mem_dist_se_lst.append(mem_dist_se)

    df_mnl = pd.read_csv('prediction/mnl/revenue_prediction/details1/'+str(times)+'.csv')
    df_mnl_dist = df_mnl['mnl_dist']
    mnl_dist = np.array(df_mnl_dist)
    mnl_dist_se = np.std(mnl_dist)/np.sqrt(len(mnl_dist))
    mnl_dist_se_lst.append(mnl_dist_se)
        
    df_mccm = pd.read_csv('prediction/mccm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mccm_dist = df_mccm['mccm_dist']
    mccm_dist = np.array(df_mccm_dist)
    mccm_dist_se = np.std(mccm_dist)/np.sqrt(len(mccm_dist))
    mccm_dist_se_lst.append(mccm_dist_se)
    
     
    df_lcmnl = pd.read_csv('prediction/lcmnl/revenue_prediction/details1/'+str(times)+'.csv')
    df_lcmnl_dist = df_lcmnl['lcmnl_dist']
    lcmnl_dist = np.array(df_lcmnl_dist)
    lcmnl_dist_se = np.std(lcmnl_dist)/np.sqrt(len(lcmnl_dist))
    lcmnl_dist_se_lst.append(lcmnl_dist_se)

In [18]:
kendall_dist_se_summary = pd.DataFrame({'offertimes':offertimes,'mdm_ci_lb':mdm_ci_lb_dist_se_lst,'mdm_ci_ub':mdm_ci_ub_dist_se_lst,
                                        'mdm_etp_lb':mdm_etp_lb_dist_se_lst,'mdm_etp_ub':mdm_etp_ub_dist_se_lst,
                                        'rum_ci':rum_ci_dist_se_lst,
                                        'mem':mem_dist_se_lst,
                                        'mnl':mnl_dist_se_lst,
                                        'mccm':mccm_dist_se_lst,
                                        'lcmnl':lcmnl_dist_se_lst})
kendall_dist_se_summary.to_csv('summary/kendall_dist_se_summary.csv')
kendall_dist_se_summary

,offertimes,mdm_ci_lb,mdm_ci_ub,mdm_etp_lb,mdm_etp_ub,rum_ci,mem,mnl,mccm,lcmnl
0,20,0.250675,0.216624,0.205835,0.194504,0.263012,0.202069,0.200320,0.208327,0.217329
1,30,0.187808,0.112570,0.135647,0.117473,0.208307,0.122115,0.150439,0.133746,0.124868
2,40,0.117610,0.081043,0.109545,0.079448,0.116619,0.066993,0.104919,0.075947,0.076105
3,50,0.133746,0.058583,0.119633,0.070711,0.138593,0.062032,0.124708,0.091389,0.120000
4,60,0.054332,0.033586,0.051846,0.038367,0.054332,0.033586,0.056569,0.045957,0.049071

In [19]:
kendall_dist_se_summary = pd.DataFrame({'offertimes':offertimes,'mdm_ci_lb':mdm_ci_lb_dist_se_lst,
                                        'mdm_etp_lb':mdm_etp_lb_dist_se_lst,
                                        'rum_ci':rum_ci_dist_se_lst,
                                        'mem':mem_dist_se_lst,
                                        'mnl':mnl_dist_se_lst,
                                        'mccm':mccm_dist_se_lst,
                                        'lcmnl':lcmnl_dist_se_lst})
kendall_dist_se_summary

,offertimes,mdm_ci_lb,mdm_etp_lb,rum_ci,mem,mnl,mccm,lcmnl
0,20,0.250675,0.205835,0.263012,0.202069,0.200320,0.208327,0.217329
1,30,0.187808,0.135647,0.208307,0.122115,0.150439,0.133746,0.124868
2,40,0.117610,0.109545,0.116619,0.066993,0.104919,0.075947,0.076105
3,50,0.133746,0.119633,0.138593,0.062032,0.124708,0.091389,0.120000
4,60,0.054332,0.051846,0.054332,0.033586,0.056569,0.045957,0.049071