In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
rum_ci_summary = pd.read_csv('prediction/rum/jd_rum_summary.csv')
rum_ci_summary = rum_ci_summary.drop(rum_ci_summary.columns[0],axis=1)
rum_ci_summary = rum_ci_summary.rename(columns={'avg_lb_dist': 'rum_ci_dist'})
rum_ci_summary = rum_ci_summary.rename(columns={'avg_lb_best_rev_diff': 'rum_ci_rev_reg'})
rum_ci_summary

,offertimes,train_size,test_size,rum_ci_dist,rum_ci_rev_reg,avg_lb_runtime,rum_actual_runtime
0,20,24,5,3.16,0.111450,3.097602,152.814778
1,30,20,4,2.44,0.163216,2.461284,128.550709
2,40,16,3,1.34,0.172062,2.225715,126.695435
3,50,12,3,1.00,0.154974,1.207443,54.950283
4,60,11,2,0.34,0.089010,1.136671,52.121302

In [3]:
rum_etp_summary = pd.read_csv('prediction/etp_rum/jd_etp_rum_summary.csv')
rum_etp_summary = rum_etp_summary.drop(rum_etp_summary.columns[0],axis=1)
rum_etp_summary = rum_etp_summary.rename(columns={'avg_lb_dist': 'rum_etp_dist'})
rum_etp_summary = rum_etp_summary.rename(columns={'avg_lb_best_rev_diff': 'rum_etp_rev_reg'})
rum_etp_summary

,offertimes,train_size,test_size,rum_etp_dist,rum_etp_rev_reg,avg_lb_runtime,rum_actual_runtime
0,20,24,5,6.06,0.530136,2.038730,85.348906
1,30,20,4,3.08,0.458647,1.657038,75.979018
2,40,16,3,1.64,0.377138,1.405434,65.856355
3,50,12,3,1.68,0.382871,1.194380,55.151660
4,60,11,2,0.72,0.332720,1.146064,53.238720

In [4]:
mdm_ci_summary = pd.read_csv('prediction/mdm/jd_mdm_summary.csv')
mdm_ci_summary = mdm_ci_summary.drop(mdm_ci_summary.columns[0],axis=1)
mdm_ci_summary = mdm_ci_summary.rename(columns={'avg_lb_dist': 'mdm_ci_lb_dist'})
mdm_ci_summary = mdm_ci_summary.rename(columns={'avg_lb_best_rev_diff': 'mdm_ci_lb_rev_reg'})
mdm_ci_summary = mdm_ci_summary.rename(columns={'avg_ub_dist': 'mdm_ci_ub_dist'})
mdm_ci_summary = mdm_ci_summary.rename(columns={'avg_ub_best_rev_diff': 'mdm_ci_ub_rev_reg'})
mdm_ci_summary

,offertimes,train_size,test_size,mdm_ci_lb_dist,mdm_ci_ub_dist,mdm_ci_lb_rev_reg,mdm_ci_ub_rev_reg,avg_lb_runtime,avg_ub_runtime
0,20,24,5,3.22,2.64,0.114613,0.089129,0.183617,0.178308
1,30,20,4,2.44,1.70,0.172931,0.080353,0.108029,0.105358
2,40,16,3,1.24,0.82,0.157314,0.084057,0.053175,0.049550
3,50,12,3,0.96,0.82,0.164254,0.062247,0.026593,0.024457
4,60,11,2,0.32,0.36,0.080134,0.092613,0.019764,0.019065

In [5]:
mdm_ci_l1 = pd.read_csv('prediction/mdm_ci_l1/jd_mdm_ci_l1_summary.csv')
mdm_ci_l1 = mdm_ci_l1.drop(mdm_ci_l1.columns[0],axis=1)
mdm_ci_l1 = mdm_ci_l1.rename(columns={'avg_lb_dist': 'mdm_ci_l1_dist'})
mdm_ci_l1 = mdm_ci_l1.rename(columns={'avg_lb_best_rev_diff': 'mdm_ci_l1_rev_reg'})
mdm_ci_l1

,offertimes,train_size,test_size,mdm_ci_l1_dist,avg_ub_dist,mdm_ci_l1_rev_reg,avg_ub_best_rev_diff,avg_lb_runtime,avg_ub_runtime
0,20,24,5,3.94,2.96,0.164415,0.120719,9.417724,9.624502
1,30,20,4,2.84,1.76,0.229195,0.128617,3.296190,2.830302
2,40,16,3,1.54,0.96,0.254070,0.120320,0.844131,0.698077
3,50,12,3,1.26,0.82,0.274778,0.097510,0.187557,0.209911
4,60,11,2,0.50,0.30,0.211162,0.071248,0.126113,0.134496

In [6]:
mdm_etp_summary = pd.read_csv('prediction/etp_mdm/jd_etp_mdm_summary.csv')
mdm_etp_summary = mdm_etp_summary.drop(mdm_etp_summary.columns[0],axis=1)
mdm_etp_summary = mdm_etp_summary.rename(columns={'avg_lb_dist': 'mdm_etp_dist'})
mdm_etp_summary = mdm_etp_summary.rename(columns={'avg_lb_best_rev_diff': 'mdm_etp_rev_reg'})
mdm_etp_summary

,offertimes,train_size,test_size,mdm_etp_dist,avg_ub_dist,mdm_etp_rev_reg,avg_ub_best_rev_diff,avg_lb_runtime,avg_ub_runtime
0,20,24,5,2.48,2.62,0.057630,0.084783,0.001263,0.001187
1,30,20,4,2.12,1.78,0.115457,0.087609,0.001226,0.001192
2,40,16,3,1.12,1.04,0.102154,0.115527,0.001206,0.001136
3,50,12,3,0.82,1.00,0.086321,0.117154,0.001025,0.000923
4,60,11,2,0.36,0.40,0.103602,0.101040,0.000967,0.001011

In [7]:
df_mem = pd.read_csv('prediction/mem/jd_mem_summary.csv')
df_mem = df_mem.drop(df_mem.columns[0],axis=1)
df_mem = df_mem.rename(columns={'avg_mem_dist': 'mem_dist'})
df_mem = df_mem.rename(columns={'avg_mem_best_rev_diff': 'mem_rev_reg'})
df_mem

   offertimes  mem_dist  mem_rev_reg  avg_mem_pred_runtime
0          20      2.44     0.047597              0.396872
1          30      1.66     0.058135              0.421390
2          40      0.90     0.088902              0.552339
3          50      0.70     0.040821              0.529293
4          60      0.30     0.078539              0.542095

In [8]:
df_mnl = pd.read_csv('prediction/mnl/jd_mnl_summary.csv')
df_mnl = df_mnl.drop(df_mnl.columns[0],axis=1)
df_mnl = df_mnl.rename(columns={'avg_mnl_dist': 'mnl_dist'})
df_mnl = df_mnl.rename(columns={'avg_mnl_best_rev_diff': 'mnl_rev_reg'})
df_mnl

   offertimes  mnl_dist  mnl_rev_reg  avg_mnl_pred_runtime
0          20      3.48     0.110001              0.225605
1          30      2.30     0.174229              0.223311
2          40      1.36     0.213639              0.239243
3          50      0.94     0.157176              0.241143
4          60      0.40     0.134218              0.253961

In [9]:
df_mccm = pd.read_csv('prediction/mccm/jd_mccm_summary.csv')
df_mccm = df_mccm.drop(df_mccm.columns[0],axis=1)
df_mccm = df_mccm.rename(columns={'avg_mccm_dist': 'mccm_dist'})
df_mccm = df_mccm.rename(columns={'avg_mccm_best_rev_diff': 'mccm_rev_reg'})
df_mccm

   offertimes  mccm_dist  mccm_rev_reg  avg_mccm_pred_runtime
0          20       2.56      0.053400               9.621489
1          30       1.82      0.103643              13.576082
2          40       1.14      0.125416              15.285950
3          50       0.68      0.049573              16.465085
4          60       0.38      0.096493              11.660182

In [10]:
df_lcmnl = pd.read_csv('prediction/lcmnl/jd_lcmnl_summary.csv')
df_lcmnl = df_lcmnl.drop(df_lcmnl.columns[0],axis=1)
df_lcmnl = df_lcmnl.rename(columns={'avg_lcmnl_dist': 'lcmnl_dist'})
df_lcmnl = df_lcmnl.rename(columns={'avg_lcmnl_best_rev_diff': 'lcmnl_rev_reg'})
df_lcmnl

   offertimes  lcmnl_dist  lcmnl_rev_reg  avg_lcmnl_pred_runtime
0          20        2.68       0.063396               37.683387
1          30        1.60       0.081198               39.384488
2          40        0.84       0.083484               38.719643
3          50        0.76       0.083165               35.688646
4          60        0.40       0.118200               36.631367

In [11]:
rev_reg_summary = pd.concat([ mdm_ci_summary['offertimes'],mdm_ci_summary['train_size'],mdm_ci_summary['test_size'],
                             mdm_ci_summary['mdm_ci_lb_rev_reg'],
                             mdm_ci_summary['mdm_ci_ub_rev_reg'],
                             mdm_etp_summary['mdm_etp_rev_reg'],
                             mdm_ci_l1['mdm_ci_l1_rev_reg'],
                                rum_ci_summary['rum_ci_rev_reg'],
                                rum_etp_summary['rum_etp_rev_reg'],
                                df_mem['mem_rev_reg'],
                                df_mnl['mnl_rev_reg'],
                                df_mccm['mccm_rev_reg'],
                                df_lcmnl['lcmnl_rev_reg']],axis=1)
#rev_reg_summary.to_csv('summary/avg_rev_reg_summary.csv')
rev_reg_summary

,offertimes,train_size,test_size,mdm_ci_lb_rev_reg,mdm_ci_ub_rev_reg,mdm_etp_rev_reg,mdm_ci_l1_rev_reg,rum_ci_rev_reg,rum_etp_rev_reg,mem_rev_reg,mnl_rev_reg,mccm_rev_reg,lcmnl_rev_reg
0,20,24,5,0.114613,0.089129,0.057630,0.164415,0.111450,0.530136,0.047597,0.110001,0.053400,0.063396
1,30,20,4,0.172931,0.080353,0.115457,0.229195,0.163216,0.458647,0.058135,0.174229,0.103643,0.081198
2,40,16,3,0.157314,0.084057,0.102154,0.254070,0.172062,0.377138,0.088902,0.213639,0.125416,0.083484
3,50,12,3,0.164254,0.062247,0.086321,0.274778,0.154974,0.382871,0.040821,0.157176,0.049573,0.083165
4,60,11,2,0.080134,0.092613,0.103602,0.211162,0.089010,0.332720,0.078539,0.134218,0.096493,0.118200

In [12]:
rev_reg_summary = pd.concat([ mdm_ci_summary['offertimes'],mdm_ci_summary['train_size'],mdm_ci_summary['test_size'],
                             mdm_ci_summary['mdm_ci_lb_rev_reg']*100,
                             mdm_ci_summary['mdm_ci_ub_rev_reg']*100,
                             mdm_etp_summary['mdm_etp_rev_reg']*100,
                             mdm_ci_l1['mdm_ci_l1_rev_reg']*100,
                                rum_ci_summary['rum_ci_rev_reg']*100,
                                rum_etp_summary['rum_etp_rev_reg']*100,
                                df_mem['mem_rev_reg']*100,
                                df_mnl['mnl_rev_reg']*100,
                                df_mccm['mccm_rev_reg']*100,
                                df_lcmnl['lcmnl_rev_reg']*100],axis=1)
rev_reg_summary['mdm_ci_lb_rev_reg'] = rev_reg_summary['mdm_ci_lb_rev_reg'].round(3)
rev_reg_summary['mdm_ci_ub_rev_reg'] = rev_reg_summary['mdm_ci_ub_rev_reg'].round(3)
rev_reg_summary['mdm_etp_rev_reg'] = rev_reg_summary['mdm_etp_rev_reg'].round(3)
rev_reg_summary['mdm_ci_l1_rev_reg'] = rev_reg_summary['mdm_ci_l1_rev_reg'].round(3)
rev_reg_summary['rum_ci_rev_reg'] = rev_reg_summary['rum_ci_rev_reg'].round(3)
rev_reg_summary['rum_etp_rev_reg'] = rev_reg_summary['rum_etp_rev_reg'].round(3)
rev_reg_summary['mem_rev_reg'] = rev_reg_summary['mem_rev_reg'].round(3)
rev_reg_summary['mnl_rev_reg'] = rev_reg_summary['mnl_rev_reg'].round(3)
rev_reg_summary['mccm_rev_reg'] = rev_reg_summary['mccm_rev_reg'].round(3)
rev_reg_summary['lcmnl_rev_reg'] = rev_reg_summary['lcmnl_rev_reg'].round(3)
rev_reg_summary.to_csv('summary/avg_rev_reg_percent.csv')
rev_reg_summary

,offertimes,train_size,test_size,mdm_ci_lb_rev_reg,mdm_ci_ub_rev_reg,mdm_etp_rev_reg,mdm_ci_l1_rev_reg,rum_ci_rev_reg,rum_etp_rev_reg,mem_rev_reg,mnl_rev_reg,mccm_rev_reg,lcmnl_rev_reg
0,20,24,5,11.461,8.913,5.763,16.442,11.145,53.014,4.760,11.000,5.340,6.340
1,30,20,4,17.293,8.035,11.546,22.919,16.322,45.865,5.813,17.423,10.364,8.120
2,40,16,3,15.731,8.406,10.215,25.407,17.206,37.714,8.890,21.364,12.542,8.348
3,50,12,3,16.425,6.225,8.632,27.478,15.497,38.287,4.082,15.718,4.957,8.317
4,60,11,2,8.013,9.261,10.360,21.116,8.901,33.272,7.854,13.422,9.649,11.820

In [13]:
''' rev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_lb_rev_reg': 'mdm_ci_lb_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_ub_rev_reg': 'mdm_ci_ub_rev_reg'})

rev_reg_summary = rev_reg_summary.rename(columns={'mdm_etp_rev_reg': 'mdm_etp_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_l1_rev_reg': 'mdm_ci_l1_rev_reg'})

rev_reg_summary = rev_reg_summary.rename(columns={'rum_ci_rev_reg': 'rum_ci_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'rum_etp_rev_reg': 'rum_etp_rev_reg'})


rev_reg_summary = rev_reg_summary.rename(columns={'mnl_rev_reg': 'mnl_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'mccm_rev_reg': 'mccm_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'lcmnl_rev_reg': 'lcmnl_rev_reg'})

rev_reg_summary '''

" rev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_lb_rev_reg': 'mdm_ci_lb_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_ub_rev_reg': 'mdm_ci_ub_rev_reg'})\n\nrev_reg_summary = rev_reg_summary.rename(columns={'mdm_etp_rev_reg': 'mdm_etp_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_l1_rev_reg': 'mdm_ci_l1_rev_reg'})\n\nrev_reg_summary = rev_reg_summary.rename(columns={'rum_ci_rev_reg': 'rum_ci_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'rum_etp_rev_reg': 'rum_etp_rev_reg'})\n\n\nrev_reg_summary = rev_reg_summary.rename(columns={'mnl_rev_reg': 'mnl_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'mccm_rev_reg': 'mccm_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'lcmnl_rev_reg': 'lcmnl_rev_reg'})\n\nrev_reg_summary "

In [14]:
kendall_dist_summary = pd.concat([ mdm_ci_summary['offertimes'],mdm_ci_summary['train_size'],mdm_ci_summary['test_size'],
                                  mdm_ci_summary['mdm_ci_lb_dist'],
                                  mdm_ci_summary['mdm_ci_ub_dist'],
                                  mdm_etp_summary['mdm_etp_dist'],
                                  mdm_ci_l1['mdm_ci_l1_dist'],
                                rum_ci_summary['rum_ci_dist'],
                                rum_etp_summary['rum_etp_dist'],
                                df_mem['mem_dist'],
                                df_mnl['mnl_dist'],
                                df_mccm['mccm_dist'],
                                df_lcmnl['lcmnl_dist']],axis=1)
kendall_dist_summary.to_csv('summary/avg_kendall_dist_summary.csv')
kendall_dist_summary

,offertimes,train_size,test_size,mdm_ci_lb_dist,mdm_ci_ub_dist,mdm_etp_dist,mdm_ci_l1_dist,rum_ci_dist,rum_etp_dist,mem_dist,mnl_dist,mccm_dist,lcmnl_dist
0,20,24,5,3.22,2.64,2.48,3.94,3.16,6.06,2.44,3.48,2.56,2.68
1,30,20,4,2.44,1.70,2.12,2.84,2.44,3.08,1.66,2.30,1.82,1.60
2,40,16,3,1.24,0.82,1.12,1.54,1.34,1.64,0.90,1.36,1.14,0.84
3,50,12,3,0.96,0.82,0.82,1.26,1.00,1.68,0.70,0.94,0.68,0.76
4,60,11,2,0.32,0.36,0.36,0.50,0.34,0.72,0.30,0.40,0.38,0.40

In [15]:
## compute standard error
offertimes = [20,30,40,50,60]
mdm_ci_lb_reg_se_lst = []
mdm_ci_ub_reg_se_lst = []
mdm_etp_lb_reg_se_lst = []
mdm_etp_ub_reg_se_lst = []

mdm_l1ci_reg_se_lst = []

rum_ci_reg_se_lst = []
rum_etp_reg_se_lst = []

mccm_reg_se_lst = []
lcmnl_reg_se_lst = []
mnl_reg_se_lst = []
mem_reg_se_lst = []


for times in offertimes:
    df_mdm_ci = pd.read_csv('prediction/mdm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mdm_ci_lb_reg = df_mdm_ci['mdm_lb_best_rev_diff']
    df_mdm_ci_ub_reg = df_mdm_ci['mdm_ub_best_rev_diff']
    mdm_ci_lb_reg = np.array(df_mdm_ci_lb_reg)
    mdm_ci_lb_reg_se = np.std(mdm_ci_lb_reg)/np.sqrt(len(mdm_ci_lb_reg))
   
    mdm_ci_ub_reg = np.array(df_mdm_ci_ub_reg)
    mdm_ci_ub_reg_se = np.std(mdm_ci_ub_reg)/np.sqrt(len(mdm_ci_ub_reg))
   
    mdm_ci_lb_reg_se_lst.append(mdm_ci_lb_reg_se)
    mdm_ci_ub_reg_se_lst.append(mdm_ci_ub_reg_se)
    
    
    df_mdm_etp = pd.read_csv('prediction/etp_mdm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mdm_etp_lb_reg = df_mdm_etp['mdm_lb_best_rev_diff']
    df_mdm_etp_ub_reg = df_mdm_etp['mdm_ub_best_rev_diff']
    mdm_etp_lb_reg = np.array(df_mdm_etp_lb_reg)
    mdm_etp_lb_reg_se = np.std(mdm_etp_lb_reg)/np.sqrt(len(mdm_etp_lb_reg))
    
    mdm_etp_ub_reg = np.array(df_mdm_etp_ub_reg)
    mdm_etp_ub_reg_se = np.std(mdm_etp_ub_reg)/np.sqrt(len(mdm_etp_ub_reg))
    
    mdm_etp_lb_reg_se_lst.append(mdm_etp_lb_reg_se)
    mdm_etp_ub_reg_se_lst.append(mdm_etp_ub_reg_se)
    
    df_mdm_l1 = pd.read_csv('prediction/mdm_ci_l1/revenue_prediction/details1/'+str(times)+'.csv')
    df_mdm_l1_reg = df_mdm_l1['mdm_lb_best_rev_diff']
    mdm_l1_reg = np.array(df_mdm_l1_reg)
    mdm_l1_reg_se = np.std(mdm_l1_reg)/np.sqrt(len(mdm_l1_reg))
    mdm_l1ci_reg_se_lst.append(mdm_l1_reg_se)
    
    df_rum_ci = pd.read_csv('prediction/rum/revenue_prediction/details1/'+str(times)+'.csv')
    df_rum_ci_reg = df_rum_ci['rum_lb_best_rev_diff']
    rum_ci_reg = np.array(df_rum_ci_reg)
    rum_ci_reg_se = np.std(rum_ci_reg)/np.sqrt(len(rum_ci_reg))
    rum_ci_reg_se_lst.append(rum_ci_reg_se)
    
    df_rum_etp = pd.read_csv('prediction/rum/revenue_prediction/details1/'+str(times)+'.csv')
    df_rum_etp_reg = df_rum_etp['rum_lb_best_rev_diff']
    rum_etp_reg = np.array(df_rum_etp_reg)
    rum_etp_reg_se = np.std(rum_etp_reg)/np.sqrt(len(rum_etp_reg))
    rum_etp_reg_se_lst.append(rum_etp_reg_se)
    
    df_mem = pd.read_csv('prediction/mem/revenue_prediction/details1/'+str(times)+'.csv')
    df_mem_reg = df_mem['mem_best_rev_diff']
    mem_reg = np.array(df_mem_reg)
    mem_reg_se = np.std(mem_reg)/np.sqrt(len(mem_reg))
    mem_reg_se_lst.append(mem_reg_se)

    df_mnl = pd.read_csv('prediction/mnl/revenue_prediction/details1/'+str(times)+'.csv')
    df_mnl_reg = df_mnl['mnl_best_rev_diff']
    mnl_reg = np.array(df_mnl_reg)
    mnl_reg_se = np.std(mnl_reg)/np.sqrt(len(mnl_reg))
    mnl_reg_se_lst.append(mnl_reg_se)
        
    df_mccm = pd.read_csv('prediction/mccm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mccm_reg = df_mccm['mccm_best_rev_diff']
    mccm_reg = np.array(df_mccm_reg)
    mccm_reg_se = np.std(mccm_reg)/np.sqrt(len(mccm_reg))
    mccm_reg_se_lst.append(mccm_reg_se)
    
     
    df_lcmnl = pd.read_csv('prediction/lcmnl/revenue_prediction/details1/'+str(times)+'.csv')
    df_lcmnl_reg = df_lcmnl['lcmnl_best_rev_diff']
    lcmnl_reg = np.array(df_lcmnl_reg)
    lcmnl_reg_se = np.std(lcmnl_reg)/np.sqrt(len(lcmnl_reg))
    lcmnl_reg_se_lst.append(lcmnl_reg_se)

In [16]:
rev_reg_se_summary = pd.DataFrame({'offertimes':offertimes,'mdm_ci_lb':mdm_ci_lb_reg_se_lst,'mdm_ci_ub':mdm_ci_ub_reg_se_lst,
                                        'mdm_etp_lb':mdm_etp_lb_reg_se_lst,'mdm_etp_ub':mdm_etp_ub_reg_se_lst,
                                        'mdm_l1_ci':mdm_l1ci_reg_se_lst,
                                        'rum_ci':rum_ci_reg_se_lst,'rum_etp':rum_etp_reg_se_lst,
                                        'mem':mem_reg_se_lst,
                                        'mnl':mnl_reg_se_lst,
                                        'mccm':mccm_reg_se_lst,
                                        'lcmnl':lcmnl_reg_se_lst})

rev_reg_se_summary

,offertimes,mdm_ci_lb,mdm_ci_ub,mdm_etp_lb,mdm_etp_ub,mdm_l1_ci,rum_ci,rum_etp,mem,mnl,mccm,lcmnl
0,20,0.028410,0.027025,0.017995,0.024437,0.033709,0.027501,0.027501,0.016608,0.030423,0.018344,0.018447
1,30,0.036167,0.021372,0.027887,0.022111,0.039959,0.035763,0.035763,0.016598,0.035807,0.025782,0.022932
2,40,0.033123,0.023075,0.026712,0.029332,0.040895,0.033983,0.033983,0.022375,0.035789,0.029545,0.026428
3,50,0.033452,0.021142,0.026758,0.028819,0.040731,0.033096,0.033096,0.016166,0.033962,0.020094,0.024833
4,60,0.021539,0.021708,0.025000,0.022072,0.038986,0.022643,0.022643,0.021604,0.030004,0.023614,0.027420

In [17]:
rev_reg_se_summary['mdm_ci_lb'] = rev_reg_se_summary['mdm_ci_lb']*100
rev_reg_se_summary['mdm_ci_ub'] = rev_reg_se_summary['mdm_ci_ub']*100
rev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb']*100
rev_reg_se_summary['mdm_etp_ub'] = rev_reg_se_summary['mdm_etp_ub']*100
rev_reg_se_summary['mdm_l1_ci'] = rev_reg_se_summary['mdm_l1_ci']*100
rev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci']*100
rev_reg_se_summary['rum_etp'] = rev_reg_se_summary['rum_etp']*100
rev_reg_se_summary['mem'] = rev_reg_se_summary['mem']*100
rev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl']*100
rev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm']*100
rev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl']*100

rev_reg_se_summary['mdm_ci_lb'] = rev_reg_se_summary['mdm_ci_lb'].round(3)
rev_reg_se_summary['mdm_ci_ub'] = rev_reg_se_summary['mdm_ci_ub'].round(3)
rev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb'].round(3)
rev_reg_se_summary['mdm_etp_ub'] = rev_reg_se_summary['mdm_etp_ub'].round(3)
rev_reg_se_summary['mdm_l1_ci'] = rev_reg_se_summary['mdm_l1_ci'].round(3)
rev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci'].round(3)
rev_reg_se_summary['rum_etp'] = rev_reg_se_summary['rum_etp'].round(3)
rev_reg_se_summary['mem'] = rev_reg_se_summary['mem'].round(3)
rev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl'].round(3)
rev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm'].round(3)
rev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl'].round(3)
rev_reg_se_summary.to_csv('summary/rev_reg_se_summary.csv')
rev_reg_se_summary

,offertimes,mdm_ci_lb,mdm_ci_ub,mdm_etp_lb,mdm_etp_ub,mdm_l1_ci,rum_ci,rum_etp,mem,mnl,mccm,lcmnl
0,20,2.841,2.702,1.799,2.444,3.371,2.750,2.750,1.661,3.042,1.834,1.845
1,30,3.617,2.137,2.789,2.211,3.996,3.576,3.576,1.660,3.581,2.578,2.293
2,40,3.312,2.307,2.671,2.933,4.090,3.398,3.398,2.238,3.579,2.954,2.643
3,50,3.345,2.114,2.676,2.882,4.073,3.310,3.310,1.617,3.396,2.009,2.483
4,60,2.154,2.171,2.500,2.207,3.899,2.264,2.264,2.160,3.000,2.361,2.742

In [18]:
mdm_ci_lb_dist_se_lst = []
mdm_ci_ub_dist_se_lst = []
mdm_etp_lb_dist_se_lst = []
mdm_etp_ub_dist_se_lst = []

mdm_l1ci_dist_se_lst = []

rum_ci_dist_se_lst = []
rum_etp_dist_se_lst = []

mccm_dist_se_lst = []
lcmnl_dist_se_lst = []
mnl_dist_se_lst = []
mem_dist_se_lst = []

for times in offertimes:
    df_mdm_ci = pd.read_csv('prediction/mdm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mdm_ci_lb_dist = df_mdm_ci['mdm_lb_dist']
    df_mdm_ci_ub_dist = df_mdm_ci['mdm_ub_dist']
    mdm_ci_lb_dist = np.array(df_mdm_ci_lb_dist)
    mdm_ci_lb_dist_se = np.std(mdm_ci_lb_dist)/np.sqrt(len(mdm_ci_lb_dist))
   
    mdm_ci_ub_dist = np.array(df_mdm_ci_ub_dist)
    mdm_ci_ub_dist_se = np.std(mdm_ci_ub_dist)/np.sqrt(len(mdm_ci_ub_dist))
   
    mdm_ci_lb_dist_se_lst.append(mdm_ci_lb_dist_se)
    mdm_ci_ub_dist_se_lst.append(mdm_ci_ub_dist_se)
    
    
    df_mdm_etp = pd.read_csv('prediction/etp_mdm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mdm_etp_lb_dist = df_mdm_etp['mdm_lb_dist']
    df_mdm_etp_ub_dist = df_mdm_etp['mdm_ub_dist']
    mdm_etp_lb_dist = np.array(df_mdm_etp_lb_dist)
    mdm_etp_lb_dist_se = np.std(mdm_etp_lb_dist)/np.sqrt(len(mdm_etp_lb_dist))
    
    mdm_etp_ub_dist = np.array(df_mdm_etp_ub_dist)
    mdm_etp_ub_dist_se = np.std(mdm_etp_ub_dist)/np.sqrt(len(mdm_etp_ub_dist))
    
    mdm_etp_lb_dist_se_lst.append(mdm_etp_lb_dist_se)
    mdm_etp_ub_dist_se_lst.append(mdm_etp_ub_dist_se)
    
    df_mdm_l1 = pd.read_csv('prediction/mdm_ci_l1/revenue_prediction/details1/'+str(times)+'.csv')
    df_mdm_l1_dist = df_mdm_l1['mdm_lb_dist']
    mdm_l1_dist = np.array(df_mdm_l1_dist)
    mdm_l1_dist_se = np.std(mdm_l1_dist)/np.sqrt(len(mdm_l1_dist))
    mdm_l1ci_dist_se_lst.append(mdm_l1_dist_se)
    
    df_rum_ci = pd.read_csv('prediction/rum/revenue_prediction/details1/'+str(times)+'.csv')
    df_rum_ci_dist = df_rum_ci['rum_lb_dist']
    rum_ci_dist = np.array(df_rum_ci_dist)
    rum_ci_dist_se = np.std(rum_ci_dist)/np.sqrt(len(rum_ci_dist))
    rum_ci_dist_se_lst.append(rum_ci_dist_se)
    
    df_rum_etp = pd.read_csv('prediction/rum/revenue_prediction/details1/'+str(times)+'.csv')
    df_rum_etp_dist = df_rum_etp['rum_lb_dist']
    rum_etp_dist = np.array(df_rum_etp_dist)
    rum_etp_dist_se = np.std(rum_etp_dist)/np.sqrt(len(rum_etp_dist))
    rum_etp_dist_se_lst.append(rum_etp_dist_se)
    
    df_mem = pd.read_csv('prediction/mem/revenue_prediction/details1/'+str(times)+'.csv')
    df_mem_dist = df_mem['mem_dist']
    mem_dist = np.array(df_mem_dist)
    mem_dist_se = np.std(mem_dist)/np.sqrt(len(mem_dist))
    mem_dist_se_lst.append(mem_dist_se)

    df_mnl = pd.read_csv('prediction/mnl/revenue_prediction/details1/'+str(times)+'.csv')
    df_mnl_dist = df_mnl['mnl_dist']
    mnl_dist = np.array(df_mnl_dist)
    mnl_dist_se = np.std(mnl_dist)/np.sqrt(len(mnl_dist))
    mnl_dist_se_lst.append(mnl_dist_se)
        
    df_mccm = pd.read_csv('prediction/mccm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mccm_dist = df_mccm['mccm_dist']
    mccm_dist = np.array(df_mccm_dist)
    mccm_dist_se = np.std(mccm_dist)/np.sqrt(len(mccm_dist))
    mccm_dist_se_lst.append(mccm_dist_se)
    
     
    df_lcmnl = pd.read_csv('prediction/lcmnl/revenue_prediction/details1/'+str(times)+'.csv')
    df_lcmnl_dist = df_lcmnl['lcmnl_dist']
    lcmnl_dist = np.array(df_lcmnl_dist)
    lcmnl_dist_se = np.std(lcmnl_dist)/np.sqrt(len(lcmnl_dist))
    lcmnl_dist_se_lst.append(lcmnl_dist_se)

In [19]:
kendall_dist_se_summary = pd.DataFrame({'offertimes':offertimes,'mdm_ci_lb':mdm_ci_lb_dist_se_lst,'mdm_ci_ub':mdm_ci_ub_dist_se_lst,
                                        'mdm_etp_lb':mdm_etp_lb_dist_se_lst,'mdm_etp_ub':mdm_etp_ub_dist_se_lst,
                                        'mdm_l1_ci':mdm_l1ci_dist_se_lst,
                                        'rum_ci':rum_ci_dist_se_lst,'rum_etp':rum_etp_dist_se_lst,
                                        'mem':mem_dist_se_lst,
                                        'mnl':mnl_dist_se_lst,
                                        'mccm':mccm_dist_se_lst,
                                        'lcmnl':lcmnl_dist_se_lst})
kendall_dist_se_summary.to_csv('summary/kendall_dist_se_summary.csv')
kendall_dist_se_summary

,offertimes,mdm_ci_lb,mdm_ci_ub,mdm_etp_lb,mdm_etp_ub,mdm_l1_ci,rum_ci,rum_etp,mem,mnl,mccm,lcmnl
0,20,0.235440,0.216813,0.190242,0.211452,0.253630,0.238931,0.238931,0.198313,0.268686,0.198313,0.206766
1,30,0.221197,0.170294,0.223857,0.183935,0.206611,0.224784,0.224784,0.191018,0.202485,0.164171,0.154919
2,40,0.145767,0.118962,0.118794,0.116482,0.152866,0.151288,0.151288,0.106771,0.140741,0.126523,0.099438
3,50,0.126365,0.115551,0.118962,0.129615,0.135085,0.129615,0.129615,0.106771,0.133895,0.103692,0.121852
4,60,0.065970,0.067882,0.067882,0.069282,0.070711,0.066993,0.066993,0.064807,0.069282,0.068644,0.069282