In [1]:
import pandas as pd
import numpy as np

In [2]:
rum_ci_summary = pd.read_csv('prediction/rum/jd_rum_summary.csv')
rum_ci_summary = rum_ci_summary.drop(rum_ci_summary.columns[0],axis=1)
rum_ci_summary = rum_ci_summary.rename(columns={'avg_lb_dist': 'rum_ci_dist'})
rum_ci_summary = rum_ci_summary.rename(columns={'avg_lb_best_rev_diff': 'rum_ci_rev_reg'})
rum_ci_summary = rum_ci_summary.rename(columns={'infeas_prop': 'rum_infeas_prop'})
rum_ci_summary

,offertimes,train_size,test_size,rum_infeas_prop,rum_ci_dist,rum_ci_rev_reg,avg_lb_runtime,rum_actual_runtime
0,20,24,5,0.08,3.173913,0.095302,1.554812,88.028483
1,30,20,4,0.00,1.840000,0.155433,1.366669,76.525321
2,40,16,3,0.00,0.860000,0.112663,1.289146,70.492162
3,50,12,3,0.00,0.920000,0.123555,1.105594,56.374820
4,60,11,2,0.00,0.280000,0.100679,1.084863,54.677550

In [3]:
# mdm_ci_summary = pd.read_csv('prediction/mdm/jd_mdm_summary.csv')
# mdm_ci_summary = mdm_ci_summary.drop(mdm_ci_summary.columns[0],axis=1)
# mdm_ci_summary = mdm_ci_summary.rename(columns={'avg_lb_dist': 'mdm_ci_lb_dist'})
# mdm_ci_summary = mdm_ci_summary.rename(columns={'avg_lb_best_rev_diff': 'mdm_ci_lb_rev_reg'})
# mdm_ci_summary = mdm_ci_summary.rename(columns={'avg_ub_dist': 'mdm_ci_ub_dist'})
# mdm_ci_summary = mdm_ci_summary.rename(columns={'avg_ub_best_rev_diff': 'mdm_ci_ub_rev_reg'})
# mdm_ci_summary = mdm_ci_summary.rename(columns={'infeas_prop': 'mdm_infeas_prop'})
# mdm_ci_summary

In [4]:
mdm_etp_summary = pd.read_csv('prediction/etp_mdm/jd_etp_mdm_summary.csv')
mdm_etp_summary = mdm_etp_summary.drop(mdm_etp_summary.columns[0],axis=1)
mdm_etp_summary = mdm_etp_summary.rename(columns={'avg_lb_dist': 'mdm_etp_dist'})
mdm_etp_summary = mdm_etp_summary.rename(columns={'avg_lb_best_rev_diff': 'mdm_etp_rev_reg'})
mdm_etp_summary

,offertimes,train_size,test_size,mdm_etp_dist,avg_ub_dist,mdm_etp_rev_reg,avg_ub_best_rev_diff,avg_lb_runtime,avg_ub_runtime
0,20,24,5,2.54,2.24,0.111870,0.107233,0.001233,0.001153
1,30,20,4,1.40,1.06,0.118594,0.085966,0.000951,0.000878
2,40,16,3,0.78,0.48,0.080059,0.036935,0.000814,0.000731
3,50,12,3,0.78,0.44,0.103155,0.052747,0.000659,0.000613
4,60,11,2,0.20,0.14,0.077181,0.026959,0.000629,0.000563

In [5]:
df_mem = pd.read_csv('prediction/mem/jd_mem_summary.csv')
df_mem = df_mem.drop(df_mem.columns[0],axis=1)
df_mem = df_mem.rename(columns={'avg_mem_dist': 'mem_dist'})
df_mem = df_mem.rename(columns={'avg_mem_best_rev_diff': 'mem_rev_reg'})
df_mem

   offertimes  mem_dist  mem_rev_reg  avg_mem_pred_runtime
0          20      2.38     0.090435              0.407493
1          30      1.42     0.119020              0.411118
2          40      0.54     0.032551              0.398281
3          50      0.72     0.096726              0.380967
4          60      0.20     0.053270              0.402031

In [6]:
df_mnl = pd.read_csv('prediction/mnl/jd_mnl_summary.csv')
df_mnl = df_mnl.drop(df_mnl.columns[0],axis=1)
df_mnl = df_mnl.rename(columns={'avg_mnl_dist': 'mnl_dist'})
df_mnl = df_mnl.rename(columns={'avg_mnl_best_rev_diff': 'mnl_rev_reg'})
df_mnl

   offertimes  mnl_dist  mnl_rev_reg  avg_mnl_pred_runtime
0          20      3.44     0.150055              0.229203
1          30      2.16     0.210690              0.229024
2          40      0.82     0.127340              0.227871
3          50      0.90     0.146483              0.242559
4          60      0.26     0.087411              0.259189

In [7]:
df_mccm = pd.read_csv('prediction/mccm/jd_mccm_summary.csv')
df_mccm = df_mccm.drop(df_mccm.columns[0],axis=1)
df_mccm = df_mccm.rename(columns={'avg_mccm_dist': 'mccm_dist'})
df_mccm = df_mccm.rename(columns={'avg_mccm_best_rev_diff': 'mccm_rev_reg'})
df_mccm

   offertimes  mccm_dist  mccm_rev_reg  avg_mccm_pred_runtime
0          20       2.44      0.096827              11.509607
1          30       1.74      0.139269              11.773679
2          40       0.50      0.063496              14.585218
3          50       0.50      0.080677               9.469759
4          60       0.18      0.050551              13.922096

In [8]:
df_lcmnl = pd.read_csv('prediction/lcmnl/jd_lcmnl_summary.csv')
df_lcmnl = df_lcmnl.drop(df_lcmnl.columns[0],axis=1)
df_lcmnl = df_lcmnl.rename(columns={'avg_lcmnl_dist': 'lcmnl_dist'})
df_lcmnl = df_lcmnl.rename(columns={'avg_lcmnl_best_rev_diff': 'lcmnl_rev_reg'})
df_lcmnl

   offertimes  lcmnl_dist  lcmnl_rev_reg  avg_lcmnl_pred_runtime
0          20        2.12       0.091575               47.469597
1          30        1.56       0.115497               42.037897
2          40        0.58       0.050153               42.979164
3          50        0.84       0.119916               43.564705
4          60        0.22       0.066682               42.560170

In [9]:
rev_reg_summary = pd.concat([ mdm_etp_summary['offertimes'],mdm_etp_summary['train_size'],mdm_etp_summary['test_size'],
                             mdm_etp_summary['mdm_etp_rev_reg'],
                                rum_ci_summary['rum_ci_rev_reg'],
                                df_mem['mem_rev_reg'],
                                df_mnl['mnl_rev_reg'],
                                df_mccm['mccm_rev_reg'],
                                df_lcmnl['lcmnl_rev_reg']],axis=1)
#rev_reg_summary.to_csv('summary/avg_rev_reg_summary.csv')
rev_reg_summary

,offertimes,train_size,test_size,mdm_etp_rev_reg,rum_ci_rev_reg,mem_rev_reg,mnl_rev_reg,mccm_rev_reg,lcmnl_rev_reg
0,20,24,5,0.111870,0.095302,0.090435,0.150055,0.096827,0.091575
1,30,20,4,0.118594,0.155433,0.119020,0.210690,0.139269,0.115497
2,40,16,3,0.080059,0.112663,0.032551,0.127340,0.063496,0.050153
3,50,12,3,0.103155,0.123555,0.096726,0.146483,0.080677,0.119916
4,60,11,2,0.077181,0.100679,0.053270,0.087411,0.050551,0.066682

In [10]:
rev_reg_summary = pd.concat([ mdm_etp_summary['offertimes'],mdm_etp_summary['train_size'],mdm_etp_summary['test_size'],
                             mdm_etp_summary['mdm_etp_rev_reg']*100,
                             rum_ci_summary['rum_infeas_prop']*100,
                                rum_ci_summary['rum_ci_rev_reg']*100,
                                df_mem['mem_rev_reg']*100,
                                df_mnl['mnl_rev_reg']*100,
                                df_mccm['mccm_rev_reg']*100,
                                df_lcmnl['lcmnl_rev_reg']*100],axis=1)

rev_reg_summary['mdm_etp_rev_reg'] = rev_reg_summary['mdm_etp_rev_reg'].round(3)
rev_reg_summary['rum_ci_rev_reg'] = rev_reg_summary['rum_ci_rev_reg'].round(3)

rev_reg_summary['mem_rev_reg'] = rev_reg_summary['mem_rev_reg'].round(3)
rev_reg_summary['mnl_rev_reg'] = rev_reg_summary['mnl_rev_reg'].round(3)
rev_reg_summary['mccm_rev_reg'] = rev_reg_summary['mccm_rev_reg'].round(3)
rev_reg_summary['lcmnl_rev_reg'] = rev_reg_summary['lcmnl_rev_reg'].round(3)

rev_reg_summary = rev_reg_summary.rename(columns={'mdm_infeas_prop': 'mdm_feas_prop'})
rev_reg_summary = rev_reg_summary.rename(columns={'rum_infeas_prop': 'rum_feas_prop'})

rev_reg_summary.to_csv('summary/rev_reg_summary_percent.csv')
rev_reg_summary

,offertimes,train_size,test_size,mdm_etp_rev_reg,rum_feas_prop,rum_ci_rev_reg,mem_rev_reg,mnl_rev_reg,mccm_rev_reg,lcmnl_rev_reg
0,20,24,5,11.187,8.0,9.530,9.044,15.005,9.683,9.157
1,30,20,4,11.859,0.0,15.543,11.902,21.069,13.927,11.550
2,40,16,3,8.006,0.0,11.266,3.255,12.734,6.350,5.015
3,50,12,3,10.316,0.0,12.355,9.673,14.648,8.068,11.992
4,60,11,2,7.718,0.0,10.068,5.327,8.741,5.055,6.668

In [11]:
''' rev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_lb_rev_reg': 'mdm_ci_lb_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_ub_rev_reg': 'mdm_ci_ub_rev_reg'})

rev_reg_summary = rev_reg_summary.rename(columns={'mdm_etp_rev_reg': 'mdm_etp_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_l1_rev_reg': 'mdm_ci_l1_rev_reg'})

rev_reg_summary = rev_reg_summary.rename(columns={'rum_ci_rev_reg': 'rum_ci_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'rum_etp_rev_reg': 'rum_etp_rev_reg'})


rev_reg_summary = rev_reg_summary.rename(columns={'mnl_rev_reg': 'mnl_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'mccm_rev_reg': 'mccm_rev_reg'})
rev_reg_summary = rev_reg_summary.rename(columns={'lcmnl_rev_reg': 'lcmnl_rev_reg'})

rev_reg_summary '''

" rev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_lb_rev_reg': 'mdm_ci_lb_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_ub_rev_reg': 'mdm_ci_ub_rev_reg'})\n\nrev_reg_summary = rev_reg_summary.rename(columns={'mdm_etp_rev_reg': 'mdm_etp_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'mdm_ci_l1_rev_reg': 'mdm_ci_l1_rev_reg'})\n\nrev_reg_summary = rev_reg_summary.rename(columns={'rum_ci_rev_reg': 'rum_ci_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'rum_etp_rev_reg': 'rum_etp_rev_reg'})\n\n\nrev_reg_summary = rev_reg_summary.rename(columns={'mnl_rev_reg': 'mnl_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'mccm_rev_reg': 'mccm_rev_reg'})\nrev_reg_summary = rev_reg_summary.rename(columns={'lcmnl_rev_reg': 'lcmnl_rev_reg'})\n\nrev_reg_summary "

In [12]:
kendall_dist_summary = pd.concat([ mdm_etp_summary['offertimes'],mdm_etp_summary['train_size'],mdm_etp_summary['test_size'],
                                  mdm_etp_summary['mdm_etp_dist'],
                                  rum_ci_summary['rum_infeas_prop'],
                                rum_ci_summary['rum_ci_dist'],
                                df_mem['mem_dist'],
                                df_mnl['mnl_dist'],
                                df_mccm['mccm_dist'],
                                df_lcmnl['lcmnl_dist']],axis=1)
#kendall_dist_summary.to_csv('summary/avg_kendall_dist_summary.csv')
kendall_dist_summary

,offertimes,train_size,test_size,mdm_etp_dist,rum_infeas_prop,rum_ci_dist,mem_dist,mnl_dist,mccm_dist,lcmnl_dist
0,20,24,5,2.54,0.08,3.173913,2.38,3.44,2.44,2.12
1,30,20,4,1.40,0.00,1.840000,1.42,2.16,1.74,1.56
2,40,16,3,0.78,0.00,0.860000,0.54,0.82,0.50,0.58
3,50,12,3,0.78,0.00,0.920000,0.72,0.90,0.50,0.84
4,60,11,2,0.20,0.00,0.280000,0.20,0.26,0.18,0.22

In [13]:
kendall_dist_summary2 = pd.concat([mdm_etp_summary['offertimes'],mdm_etp_summary['train_size'],mdm_etp_summary['test_size'],
                                  mdm_etp_summary['mdm_etp_dist'],
                                  rum_ci_summary['rum_infeas_prop'],
                                rum_ci_summary['rum_ci_dist'],
                                df_mem['mem_dist'],
                                df_mnl['mnl_dist'],
                                df_mccm['mccm_dist'],
                                df_lcmnl['lcmnl_dist']],axis=1)

kendall_dist_summary2 = kendall_dist_summary2.rename(columns={'rum_infeas_prop': 'rum_feas_prop'})

kendall_dist_summary2.to_csv('summary/kendall_dist_summary.csv')
kendall_dist_summary2

,offertimes,train_size,test_size,mdm_etp_dist,rum_feas_prop,rum_ci_dist,mem_dist,mnl_dist,mccm_dist,lcmnl_dist
0,20,24,5,2.54,0.08,3.173913,2.38,3.44,2.44,2.12
1,30,20,4,1.40,0.00,1.840000,1.42,2.16,1.74,1.56
2,40,16,3,0.78,0.00,0.860000,0.54,0.82,0.50,0.58
3,50,12,3,0.78,0.00,0.920000,0.72,0.90,0.50,0.84
4,60,11,2,0.20,0.00,0.280000,0.20,0.26,0.18,0.22

In [14]:
## compute standard error
offertimes = [20,30,40,50,60]
mdm_ci_lb_reg_se_lst = []
mdm_ci_ub_reg_se_lst = []
mdm_etp_lb_reg_se_lst = []
mdm_etp_ub_reg_se_lst = []

mdm_l1ci_reg_se_lst = []

rum_ci_reg_se_lst = []
rum_etp_reg_se_lst = []

mccm_reg_se_lst = []
lcmnl_reg_se_lst = []
mnl_reg_se_lst = []
mem_reg_se_lst = []


for times in offertimes:
    # df_mdm_ci = pd.read_csv('prediction/mdm/revenue_prediction/details1/'+str(times)+'.csv')
    # df_mdm_ci_lb_reg = df_mdm_ci['mdm_lb_best_rev_diff']
    # df_mdm_ci_ub_reg = df_mdm_ci['mdm_ub_best_rev_diff']
    # mdm_ci_lb_reg = np.array(df_mdm_ci_lb_reg)
    # mdm_ci_lb_reg_se = np.std(mdm_ci_lb_reg)/np.sqrt(len(mdm_ci_lb_reg))
   
    # mdm_ci_ub_reg = np.array(df_mdm_ci_ub_reg)
    # mdm_ci_ub_reg_se = np.std(mdm_ci_ub_reg)/np.sqrt(len(mdm_ci_ub_reg))
   
    # mdm_ci_lb_reg_se_lst.append(mdm_ci_lb_reg_se)
    # mdm_ci_ub_reg_se_lst.append(mdm_ci_ub_reg_se)
    
    
    df_mdm_etp = pd.read_csv('prediction/etp_mdm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mdm_etp_lb_reg = df_mdm_etp['mdm_lb_best_rev_diff']
    df_mdm_etp_ub_reg = df_mdm_etp['mdm_ub_best_rev_diff']
    mdm_etp_lb_reg = np.array(df_mdm_etp_lb_reg)
    mdm_etp_lb_reg_se = np.std(mdm_etp_lb_reg)/np.sqrt(len(mdm_etp_lb_reg))
    
    mdm_etp_ub_reg = np.array(df_mdm_etp_ub_reg)
    mdm_etp_ub_reg_se = np.std(mdm_etp_ub_reg)/np.sqrt(len(mdm_etp_ub_reg))
    
    mdm_etp_lb_reg_se_lst.append(mdm_etp_lb_reg_se)
    mdm_etp_ub_reg_se_lst.append(mdm_etp_ub_reg_se)
    
    df_rum_ci = pd.read_csv('prediction/rum/revenue_prediction/details1/'+str(times)+'.csv')
    df_rum_ci_reg = df_rum_ci['rum_lb_best_rev_diff']
    rum_ci_reg = np.array(df_rum_ci_reg)
    rum_ci_reg_se = np.std(rum_ci_reg)/np.sqrt(len(rum_ci_reg))
    rum_ci_reg_se_lst.append(rum_ci_reg_se)

    
    df_mem = pd.read_csv('prediction/mem/revenue_prediction/details1/'+str(times)+'.csv')
    df_mem_reg = df_mem['mem_best_rev_diff']
    mem_reg = np.array(df_mem_reg)
    mem_reg_se = np.std(mem_reg)/np.sqrt(len(mem_reg)) ### standard deviation/\sqrt(number of samples)
    mem_reg_se_lst.append(mem_reg_se)

    df_mnl = pd.read_csv('prediction/mnl/revenue_prediction/details1/'+str(times)+'.csv')
    df_mnl_reg = df_mnl['mnl_best_rev_diff']
    mnl_reg = np.array(df_mnl_reg)
    mnl_reg_se = np.std(mnl_reg)/np.sqrt(len(mnl_reg))
    mnl_reg_se_lst.append(mnl_reg_se)
        
    df_mccm = pd.read_csv('prediction/mccm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mccm_reg = df_mccm['mccm_best_rev_diff']
    mccm_reg = np.array(df_mccm_reg)
    mccm_reg_se = np.std(mccm_reg)/np.sqrt(len(mccm_reg))
    mccm_reg_se_lst.append(mccm_reg_se)
    
     
    df_lcmnl = pd.read_csv('prediction/lcmnl/revenue_prediction/details1/'+str(times)+'.csv')
    df_lcmnl_reg = df_lcmnl['lcmnl_best_rev_diff']
    lcmnl_reg = np.array(df_lcmnl_reg)
    lcmnl_reg_se = np.std(lcmnl_reg)/np.sqrt(len(lcmnl_reg))
    lcmnl_reg_se_lst.append(lcmnl_reg_se)

In [15]:
''' rev_reg_se_summary = pd.DataFrame({'offertimes':offertimes,'mdm_ci_lb':mdm_ci_lb_reg_se_lst,'mdm_ci_ub':mdm_ci_ub_reg_se_lst,
                                        'mdm_etp_lb':mdm_etp_lb_reg_se_lst,'mdm_etp_ub':mdm_etp_ub_reg_se_lst,
                                        'rum_ci':rum_ci_reg_se_lst,
                                        'mem':mem_reg_se_lst,
                                        'mnl':mnl_reg_se_lst,
                                        'mccm':mccm_reg_se_lst,
                                        'lcmnl':lcmnl_reg_se_lst})
rev_reg_se_summary['mdm_ci_lb'] = rev_reg_se_summary['mdm_ci_lb']*100
rev_reg_se_summary['mdm_ci_ub'] = rev_reg_se_summary['mdm_ci_ub']*100
rev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb']*100
rev_reg_se_summary['mdm_etp_ub'] = rev_reg_se_summary['mdm_etp_ub']*100

rev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci']*100

rev_reg_se_summary['mem'] = rev_reg_se_summary['mem']*100
rev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl']*100
rev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm']*100
rev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl']*100

rev_reg_se_summary['mdm_ci_lb'] = rev_reg_se_summary['mdm_ci_lb'].round(3)
rev_reg_se_summary['mdm_ci_ub'] = rev_reg_se_summary['mdm_ci_ub'].round(3)
rev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb'].round(3)
rev_reg_se_summary['mdm_etp_ub'] = rev_reg_se_summary['mdm_etp_ub'].round(3)

rev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci'].round(3)

rev_reg_se_summary['mem'] = rev_reg_se_summary['mem'].round(3)
rev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl'].round(3)
rev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm'].round(3)
rev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl'].round(3)
rev_reg_se_summary.to_csv('summary/rev_reg_se_summary.csv')
rev_reg_se_summary
 '''

" rev_reg_se_summary = pd.DataFrame({'offertimes':offertimes,'mdm_ci_lb':mdm_ci_lb_reg_se_lst,'mdm_ci_ub':mdm_ci_ub_reg_se_lst,\n                                        'mdm_etp_lb':mdm_etp_lb_reg_se_lst,'mdm_etp_ub':mdm_etp_ub_reg_se_lst,\n                                        'rum_ci':rum_ci_reg_se_lst,\n                                        'mem':mem_reg_se_lst,\n                                        'mnl':mnl_reg_se_lst,\n                                        'mccm':mccm_reg_se_lst,\n                                        'lcmnl':lcmnl_reg_se_lst})\nrev_reg_se_summary['mdm_ci_lb'] = rev_reg_se_summary['mdm_ci_lb']*100\nrev_reg_se_summary['mdm_ci_ub'] = rev_reg_se_summary['mdm_ci_ub']*100\nrev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb']*100\nrev_reg_se_summary['mdm_etp_ub'] = rev_reg_se_summary['mdm_etp_ub']*100\n\nrev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci']*100\n\nrev_reg_se_summary['mem'] = rev_reg_se_summary['mem']*100\nrev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl']*100\nrev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm']*100\nrev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl']*100\n\nrev_reg_se_summary['mdm_ci_lb'] = rev_reg_se_summary['mdm_ci_lb'].round(3)\nrev_reg_se_summary['mdm_ci_ub'] = rev_reg_se_summary['mdm_ci_ub'].round(3)\nrev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb'].round(3)\nrev_reg_se_summary['mdm_etp_ub'] = rev_reg_se_summary['mdm_etp_ub'].round(3)\n\nrev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci'].round(3)\n\nrev_reg_se_summary['mem'] = rev_reg_se_summary['mem'].round(3)\nrev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl'].round(3)\nrev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm'].round(3)\nrev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl'].round(3)\nrev_reg_se_summary.to_csv('summary/rev_reg_se_summary.csv')\nrev_reg_se_summary\n "

In [16]:
rev_reg_se_summary = pd.DataFrame({'offertimes':offertimes,
                                        'mdm_etp_lb':mdm_etp_lb_reg_se_lst,
                                        'rum_ci':rum_ci_reg_se_lst,
                                        'mem':mem_reg_se_lst,
                                        'mnl':mnl_reg_se_lst,
                                        'mccm':mccm_reg_se_lst,
                                        'lcmnl':lcmnl_reg_se_lst})
rev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb']*100
rev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci']*100
rev_reg_se_summary['mem'] = rev_reg_se_summary['mem']*100
rev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl']*100
rev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm']*100
rev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl']*100

rev_reg_se_summary['mdm_etp_lb'] = rev_reg_se_summary['mdm_etp_lb'].round(3)
rev_reg_se_summary['rum_ci'] = rev_reg_se_summary['rum_ci'].round(3)
rev_reg_se_summary['mem'] = rev_reg_se_summary['mem'].round(3)
rev_reg_se_summary['mnl'] = rev_reg_se_summary['mnl'].round(3)
rev_reg_se_summary['mccm'] = rev_reg_se_summary['mccm'].round(3)
rev_reg_se_summary['lcmnl'] = rev_reg_se_summary['lcmnl'].round(3)
rev_reg_se_summary.to_csv('summary/rev_reg_se_summary_percent.csv')
rev_reg_se_summary

   offertimes  mdm_etp_lb  rum_ci    mem    mnl   mccm  lcmnl
0          20       1.991   2.253  1.708  2.601  1.989  1.757
1          30       2.642   3.026  2.705  3.261  2.993  2.595
2          40       2.248   2.648  1.267  2.877  2.075  1.469
3          50       2.686   2.968  2.564  3.251  2.295  2.711
4          60       2.543   2.817  2.026  2.633  1.912  2.269

In [17]:
mdm_ci_lb_dist_se_lst = []
mdm_ci_ub_dist_se_lst = []
mdm_etp_lb_dist_se_lst = []
mdm_etp_ub_dist_se_lst = []

mdm_l1ci_dist_se_lst = []

rum_ci_dist_se_lst = []
rum_etp_dist_se_lst = []

mccm_dist_se_lst = []
lcmnl_dist_se_lst = []
mnl_dist_se_lst = []
mem_dist_se_lst = []

for times in offertimes:
    # df_mdm_ci = pd.read_csv('prediction/mdm/revenue_prediction/details1/'+str(times)+'.csv')
    # df_mdm_ci_lb_dist = df_mdm_ci['mdm_lb_dist']
    # df_mdm_ci_ub_dist = df_mdm_ci['mdm_ub_dist']
    # mdm_ci_lb_dist = np.array(df_mdm_ci_lb_dist)
    # mdm_ci_lb_dist_se = np.std(mdm_ci_lb_dist)/np.sqrt(len(mdm_ci_lb_dist))
   
    # mdm_ci_ub_dist = np.array(df_mdm_ci_ub_dist)
    # mdm_ci_ub_dist_se = np.std(mdm_ci_ub_dist)/np.sqrt(len(mdm_ci_ub_dist))
   
    # mdm_ci_lb_dist_se_lst.append(mdm_ci_lb_dist_se)
    # mdm_ci_ub_dist_se_lst.append(mdm_ci_ub_dist_se)
    
    
    df_mdm_etp = pd.read_csv('prediction/etp_mdm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mdm_etp_lb_dist = df_mdm_etp['mdm_lb_dist']
    df_mdm_etp_ub_dist = df_mdm_etp['mdm_ub_dist']
    mdm_etp_lb_dist = np.array(df_mdm_etp_lb_dist)
    mdm_etp_lb_dist_se = np.std(mdm_etp_lb_dist)/np.sqrt(len(mdm_etp_lb_dist))
    
    mdm_etp_ub_dist = np.array(df_mdm_etp_ub_dist)
    mdm_etp_ub_dist_se = np.std(mdm_etp_ub_dist)/np.sqrt(len(mdm_etp_ub_dist))
    
    mdm_etp_lb_dist_se_lst.append(mdm_etp_lb_dist_se)
    mdm_etp_ub_dist_se_lst.append(mdm_etp_ub_dist_se)
    
    
    df_rum_ci = pd.read_csv('prediction/rum/revenue_prediction/details1/'+str(times)+'.csv')
    df_rum_ci_dist = df_rum_ci['rum_lb_dist']
    rum_ci_dist = np.array(df_rum_ci_dist)
    rum_ci_dist_se = np.std(rum_ci_dist)/np.sqrt(len(rum_ci_dist))
    rum_ci_dist_se_lst.append(rum_ci_dist_se)
    

    
    df_mem = pd.read_csv('prediction/mem/revenue_prediction/details1/'+str(times)+'.csv')
    df_mem_dist = df_mem['mem_dist']
    mem_dist = np.array(df_mem_dist)
    mem_dist_se = np.std(mem_dist)/np.sqrt(len(mem_dist))
    mem_dist_se_lst.append(mem_dist_se)

    df_mnl = pd.read_csv('prediction/mnl/revenue_prediction/details1/'+str(times)+'.csv')
    df_mnl_dist = df_mnl['mnl_dist']
    mnl_dist = np.array(df_mnl_dist)
    mnl_dist_se = np.std(mnl_dist)/np.sqrt(len(mnl_dist))
    mnl_dist_se_lst.append(mnl_dist_se)
        
    df_mccm = pd.read_csv('prediction/mccm/revenue_prediction/details1/'+str(times)+'.csv')
    df_mccm_dist = df_mccm['mccm_dist']
    mccm_dist = np.array(df_mccm_dist)
    mccm_dist_se = np.std(mccm_dist)/np.sqrt(len(mccm_dist))
    mccm_dist_se_lst.append(mccm_dist_se)
    
     
    df_lcmnl = pd.read_csv('prediction/lcmnl/revenue_prediction/details1/'+str(times)+'.csv')
    df_lcmnl_dist = df_lcmnl['lcmnl_dist']
    lcmnl_dist = np.array(df_lcmnl_dist)
    lcmnl_dist_se = np.std(lcmnl_dist)/np.sqrt(len(lcmnl_dist))
    lcmnl_dist_se_lst.append(lcmnl_dist_se)

In [18]:
kendall_dist_se_summary = pd.DataFrame({'offertimes':offertimes,
                                        'mdm_etp_lb':mdm_etp_lb_dist_se_lst,'mdm_etp_ub':mdm_etp_ub_dist_se_lst,
                                        'rum_ci':rum_ci_dist_se_lst,
                                        'mem':mem_dist_se_lst,
                                        'mnl':mnl_dist_se_lst,
                                        'mccm':mccm_dist_se_lst,
                                        'lcmnl':lcmnl_dist_se_lst})
kendall_dist_se_summary.to_csv('summary/kendall_dist_se_summary.csv')
kendall_dist_se_summary

,offertimes,mdm_etp_lb,mdm_etp_ub,rum_ci,mem,mnl,mccm,lcmnl
0,20,0.258008,0.240932,0.306367,0.252808,0.307454,0.231793,0.234333
1,30,0.185472,0.139743,0.202702,0.194093,0.230408,0.201613,0.196286
2,40,0.124226,0.085977,0.120033,0.102801,0.125507,0.081240,0.102333
3,50,0.130507,0.080796,0.125984,0.113278,0.130384,0.094868,0.117847
4,60,0.056569,0.049071,0.063498,0.056569,0.062032,0.054332,0.058583

In [19]:
kendall_dist_se_summary = pd.DataFrame({'offertimes':offertimes,
                                        'mdm_etp_lb':mdm_etp_lb_dist_se_lst,
                                        'rum_ci':rum_ci_dist_se_lst,
                                        'mem':mem_dist_se_lst,
                                        'mnl':mnl_dist_se_lst,
                                        'mccm':mccm_dist_se_lst,
                                        'lcmnl':lcmnl_dist_se_lst})
kendall_dist_se_summary

   offertimes  mdm_etp_lb    rum_ci       mem       mnl      mccm     lcmnl
0          20    0.258008  0.306367  0.252808  0.307454  0.231793  0.234333
1          30    0.185472  0.202702  0.194093  0.230408  0.201613  0.196286
2          40    0.124226  0.120033  0.102801  0.125507  0.081240  0.102333
3          50    0.130507  0.125984  0.113278  0.130384  0.094868  0.117847
4          60    0.056569  0.063498  0.056569  0.062032  0.054332  0.058583